$primary-color: #d60c83;
$secondary-color: #45fed7;
$brand-black: #0f121c;

$primary-text-color: #fff;
$secondary-text-color: #f6f8f9;

:root {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
}

$font-family: 'Open Sans', sans-serif;
$header-font: 'Dosis', sans-serif;

// Media Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
